<ng-container *ngIf="notValidEmail">
    <div id="notfound">
        <div class="notfound">
            <h2>This Token is not valid, Please try Again.</h2>
            <p>Welcome to Clinic, Please Login</p>
            <a routerLink="/account/login">Login page</a>
        </div>
    </div>
    
</ng-container>

<ng-container *ngIf="!notValidEmail">
    <div class="bg-img">
        <div style="margin-top: 6%; padding: 30px;" class="content">
            <h2 class="login-header">Recover Password</h2>
            <form [formGroup]="recoverPasswordForm">

                <div class="field space">
                    <span class="fa fa-lock"></span>
                    <input formControlName="recoveryCode" type="text" class="pass-key" placeholder="Recovery Code">
                </div>
                <p style="color: red;"
                    *ngIf="recoveryCode.touched && recoveryCode.hasError('required')">
                    Recovery Code <strong>required</strong>
                </p>

                <div class="field space">
                    <span class="fa fa-lock"></span>
                    <input formControlName="password" type="password" class="pass-key" placeholder="Password">
                </div>
                <p style="color: red;"
                    *ngIf="password.touched && password.hasError('required') && !password.hasError('minlength')">
                    password <strong>required</strong>
                </p>
                <p style="color: red;" *ngIf="password.touched && password.hasError('minlength')">
                    password must be at least <strong>5 charcters</strong>
                </p>

                <div class="field space">
                    <span class="fa fa-lock"></span>
                    <input formControlName="confirmPassword" type="password" class="pass-key"
                        placeholder="Conform Password">
                </div>
                <p style="color: red;"
                    *ngIf="confirmPassword.touched && confirmPassword.hasError('required') && !confirmPassword.hasError('minlength')">
                    confirm password <strong>required</strong>
                </p>
                <p style="color: red;"
                    *ngIf="recoverPasswordForm.hasError('mismatch') && confirmPassword.touched && !confirmPassword.hasError('required')">
                    passwords doesn't match
                </p>

                <div class="field login-btn">
                    <button (click)="recoverPassword()" [disabled]="!recoverPasswordForm.valid || toggle"
                        type="button">{{toggle ? 'Loadding...':'Change Password'}}</button>
                </div>
            </form>
        </div>
    </div>
</ng-container>