<div class="container">
    <div class="p-grid">

        <div class="p-col-12">
            <p-panel header="User Info" [toggleable]="true" [collapsed]="true">
                <div class="p-grid">
                    <div class="p-col-6">
                        <label class="userInfoLable">Name: </label>
                        <span> Ahmed Hamed </span>
                    </div>
                    <div class="p-col-6">
                        <label class="userInfoLable">Email: </label>
                        <span> AhmedHamed@yahoo.com </span>
                    </div>
                    <div class="p-col-6">
                        <label class="userInfoLable">Number: </label>
                        <span> 01145226681 </span>
                    </div>
                    <div class="p-col-6">
                        <label class="userInfoLable">Gender: </label>
                        <span> Male </span>
                    </div>
                </div>
            </p-panel>
        </div>

        <div class="p-col-12">
            <p-panel header="Chief Complaints" [toggleable]="true" [collapsed]="true">
                <div class="p-grid">
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <textarea [(ngModel)]="newComplaint" rows="5" style="width:100%;" pInputTextarea autoResize="autoResize"></textarea>
                            <label for="float-input">Enter Chief Complaint</label>
                        </span>
                    </div>
                    <div class="p-col-12">
                        <p-button label="Add Complaint" (onClick)="addChiefComplaint()" icon="pi pi-check"></p-button>
                    </div>
                    <div class="p-col-12">
                        <p-table [scrollable]="true" scrollHeight="200px" [resizableColumns]="true" [value]="complaints">
                            <ng-template pTemplate="colgroup">
                                <colgroup>
                                    <col style="width:80%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pResizableColumn pSortableColumn="complaint">Complaint <p-sortIcon field="complain"></p-sortIcon></th>
                                    <th pResizableColumn pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-complaint>
                                <tr>
                                    <td>{{complaint.complaint}}</td>
                                    <td>{{complaint.date}}</td>
                                    <td>
                                        <button *ngIf="complaint.isNew" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteComplaint(complaint)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-panel>
        </div>

        <div class="p-col-12">
            <p-panel header="Notes" [toggleable]="true" [collapsed]="true">
                <div class="p-grid">
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <textarea [(ngModel)]="newNote"  rows="5" style="width:100%;" pInputTextarea autoResize="autoResize"></textarea>
                            <label for="float-input">Enter Note</label>
                        </span>
                    </div>
                    <div class="p-col-12">
                        <p-button label="Add Note" (onClick)="addNote()" icon="pi pi-check"></p-button>
                    </div>
                    <div class="p-col-12">
                        <p-table [scrollable]="true" scrollHeight="200px" [resizableColumns]="true" [value]="notes">
                            <ng-template pTemplate="colgroup">
                                <colgroup>
                                    <col style="width:80%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pResizableColumn pSortableColumn="note">Note <p-sortIcon field="note"></p-sortIcon></th>
                                    <th pResizableColumn pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-note>
                                <tr>
                                    <td>{{note.note}}</td>
                                    <td>{{note.date}}</td>
                                    <td>
                                        <button *ngIf="note.isNew" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteNote(note)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-panel>
        </div>

        <div class="p-col-12">
            <p-panel header="Allergies" [toggleable]="true" [collapsed]="true">
                <div class="p-grid">
                    <div class="p-col-4">
                        <p-multiSelect (onChange)="onSelectAllergy($event.value)"
                            (onFilter)="filterAllergies($event.filter)" autoWidth="false" [style]="{'width':'100%'}"
                            [options]="allergies" [(ngModel)]="selectedAlleries" defaultLabel="Select an Allergy"
                            optionLabel="name" display="chip"></p-multiSelect>
                    </div>

                    <div class="p-col-8">
                        <p-chips [allowDuplicate]="false" (onAdd)="addAllergy($event.value)"
                            (onRemove)="removeAllergy($event.value)" [(ngModel)]="allergiesChips" separator=",">
                        </p-chips>
                    </div>
                </div>
            </p-panel>
        </div>

        <div class="p-col-12">
            <p-panel header="Signs" [toggleable]="true" [collapsed]="true">
                <div class="p-grid">
                    <div class="p-col-4">
                        <p-multiSelect (onChange)="onSelectSign($event.value)" (onFilter)="filterSigns($event.filter)"
                            autoWidth="false" [style]="{'width':'100%'}" [options]="signs" [(ngModel)]="selectedSigns"
                            defaultLabel="Select a Sign" optionLabel="name" display="chip"></p-multiSelect>
                    </div>

                    <div class="p-col-8">
                        <p-chips [allowDuplicate]="false" (onAdd)="addSign($event.value)"
                            (onRemove)="removeSign($event.value)" [(ngModel)]="signsChips" separator=","></p-chips>
                    </div>
                </div>
            </p-panel>
        </div>

        <div class="p-col-12">
            <p-panel header="Symptoms" [toggleable]="true" [collapsed]="true">
                <div class="p-grid">
                    <div class="p-col-4">
                        <p-multiSelect (onChange)="onSelectSymptom($event.value)"
                            (onFilter)="filterSymptoms($event.filter)" autoWidth="false" [style]="{'width':'100%'}"
                            [options]="symptoms" [(ngModel)]="selectedSymptoms" defaultLabel="Select a Symptom"
                            optionLabel="name" display="chip"></p-multiSelect>
                    </div>

                    <div class="p-col-8">
                        <p-chips [allowDuplicate]="false" (onAdd)="addSymptom($event.value)"
                            (onRemove)="removeSymptom($event.value)" [(ngModel)]="symptomsChips" separator=",">
                        </p-chips>
                    </div>
                </div>
            </p-panel>
        </div>

        <div class="p-col-12">
            <p-panel header="Diagnoses" [toggleable]="true" [collapsed]="true">
                <div class="p-grid">
                    <div class="p-col-4">
                        <p-multiSelect (onChange)="onSelectDiagnosis($event.value)"
                            (onFilter)="filterDiagnoses($event.filter)" autoWidth="false" [style]="{'width':'100%'}"
                            [options]="diagnoses" [(ngModel)]="selectedDiagnoses" defaultLabel="Select a Diagnosis"
                            optionLabel="name" display="chip"></p-multiSelect>
                    </div>

                    <div class="p-col-8">
                        <p-chips [allowDuplicate]="false" (onAdd)="addDiagnosis($event.value)"
                            (onRemove)="removeDiagnosis($event.value)" [(ngModel)]="diagnosesChips" separator=",">
                        </p-chips>
                    </div>
                </div>
            </p-panel>
        </div>

        <div class="p-col-12">
            <p-panel header="Medication " [toggleable]="true" [collapsed]="true">
                <div class="p-grid">
                    <div class="p-col-4">
                        <p-multiSelect (onChange)="onSelectMedicine($event.value)"
                            (onFilter)="filterMedicines($event.filter)" autoWidth="false" [style]="{'width':'100%'}"
                            [options]="medicines" [(ngModel)]="selectedMedicines" defaultLabel="Select a Medicine"
                            optionLabel="name" display="chip"></p-multiSelect>
                    </div>

                    <div class="p-col-8">
                        <p-chips [allowDuplicate]="false" (onAdd)="addMedicine($event.value)"
                            (onRemove)="removeMedicine($event.value)" [(ngModel)]="medicinesChips" separator=",">
                        </p-chips>
                    </div>

                    <div class="p-col-12">
                        <p-table [scrollable]="true" sortField="date" dataKey="date" sortMode="single" (onSort)="onSort()" scrollHeight="200px" [value]="medicinesHistory">
                            <ng-template pTemplate="colgroup">
                                <colgroup>
                                    <col style="width:100%">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pResizableColumn pSortableColumn="medicine">Medicine</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-medicine let-rowIndex="rowIndex" let-expanded="expanded">
                                <tr *ngIf="rowGroupMetadata[medicine.date].index === rowIndex">
                                    <td colspan="3">
                                        <button type="button" pButton pRipple [pRowToggler]="medicine" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                        <span class="p-text-bold p-ml-2">{{medicine.date}}</span>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-medicine>
                                <tr>
                                    <td>{{medicine.name}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-panel>
        </div>

        <div class="p-col-12">
            <p-button label="Submit" (onClick)="submit()" icon="pi pi-check"></p-button>
        </div>
    </div>
</div>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>