<div class="container">
    <div class="p-grid">

        <div class="p-col-12">
            <p-panel header="User Info" [toggleable]="true">
                <div class="p-grid">
                    <div class="p-col-6">
                        <label class="userInfoLable">Name: </label>
                        <span> Ahmed Hamed </span>
                    </div>
                    <div class="p-col-6">
                        <label class="userInfoLable">Email: </label>
                        <span> AhmedHamed@yahoo.com </span>
                    </div>
                    <div class="p-col-6">
                        <label class="userInfoLable">Number: </label>
                        <span> 01145226681 </span>
                    </div>
                    <div class="p-col-6">
                        <label class="userInfoLable">Gender: </label>
                        <span> Male </span>
                    </div>
                </div>
            </p-panel>
        </div>


        <div class="p-col-12">
            <p-panel header="Chief Complaint" [toggleable]="true">
                <div class="p-grid">
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <textarea rows="5" style="width:100%;" pInputTextarea autoResize="autoResize"></textarea>
                            <label for="float-input">Enter Chief Complaint</label>
                        </span>
                    </div>
                    <div class="p-col-12">
                        
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>