<div class="bg-img">
  <div class="container">

    <form [formGroup]="registerForm" class="p-fluid p-formgrid p-grid">

      <div style="text-align: center; margin-bottom: 2%;" class="p-field p-col-12">
        <h2 class="login-header">Signup</h2>
      </div>

      <div [class.margin-bottom-none] = "username.touched && username.hasError('required')" class="p-field p-col-6">
        <span class="p-input-icon-left">
          <i class="fa fa-user"></i>
          <input [ngClass]="{'ng-invalid': username.touched && username.hasError('required'), 'ng-dirty' : username.touched && username.hasError('required')}"  type="text" formControlName="username" pInputText placeholder="Full Name">
        </span>
        <small *ngIf="username.touched && username.hasError('required')" class="p-error">Full Name Required</small>
      </div>

      <div [class.margin-bottom-none] = "email.touched && (email.hasError('email') || email.hasError('required'))" class="p-field p-col-6">
        <span class="p-input-icon-left">
          <i class="fa fa-envelope"></i>
          <input [ngClass]="{'ng-invalid': email.touched && (email.hasError('email') || email.hasError('required')), 'ng-dirty' : email.touched && (email.hasError('email') || email.hasError('required'))}" type="email" formControlName="email" pInputText placeholder="Email Address">
        </span>
        <small *ngIf="email.touched && email.hasError('email') && !email.hasError('required')" class="p-error">Please Enter a Valid Email Address</small>
        <small *ngIf="email.touched && email.hasError('required')" class="p-error">Email is Required</small>
      </div>

      <div [class.margin-bottom-none] = "password.touched && (password.hasError('required') || password.hasError('minlength'))" style="margin-top: 20px;" class="p-field p-col-6">
        <span class="p-input-icon-left">
          <i class="fa fa-lock"></i>
          <input [ngClass]="{'ng-invalid': password.touched && (password.hasError('required') || password.hasError('minlength')), 'ng-dirty' : password.touched && (password.hasError('required') || password.hasError('minlength'))}" type="password" formControlName="password" pInputText placeholder="password">
        </span>
        <small *ngIf="password.touched && password.hasError('required') && !password.hasError('minlength')" class="p-error">Password is Required</small>
        <small *ngIf="password.touched && password.hasError('minlength')" class="p-error">Password Must Be At Least 5 Charcters</small>
      </div>

      <div [class.margin-bottom-none] = "confirmPassword.touched && (confirmPassword.hasError('required') || confirmPassword.hasError('minlength') || registerForm.hasError('mismatch'))" style="margin-top: 20px;" class="p-field p-col-6">
        <span class="p-input-icon-left">
          <i class="fa fa-lock"></i>
          <input [ngClass]="{'ng-invalid': confirmPassword.touched && (confirmPassword.hasError('required') || confirmPassword.hasError('minlength') || registerForm.hasError('mismatch')), 'ng-dirty' : confirmPassword.touched && (confirmPassword.hasError('required') || confirmPassword.hasError('minlength') || registerForm.hasError('mismatch'))}" type="password" formControlName="confirmPassword" pInputText placeholder="Confirm Password">
        </span>
        <small *ngIf="confirmPassword.touched && confirmPassword.hasError('required') && !confirmPassword.hasError('minlength')" class="p-error">Confirm Password Required</small>
        <small *ngIf="confirmPassword.touched && registerForm.hasError('mismatch') && !confirmPassword.hasError('required')" class="p-error">Passwords Doesn't Match </small>
      </div>

      <div [class.margin-bottom-none] = "roleId.touched && roleId.hasError('required')" style="margin-top: 20px;" class="p-field p-col-6">
        <span class="p-input-icon-left">
          <i class="fa fa-user-md"></i>
          <p-dropdown formControlName="roleId" [ngClass]="{'ng-invalid': roleId.touched && roleId.hasError('required'), 'ng-dirty' : roleId.touched && roleId.hasError('required')}" [options]="Roles" placeholder="Select a Role" optionLabel="roleName"></p-dropdown>
        </span>
        <small *ngIf="roleId.touched && roleId.hasError('required')" class="p-error">Role is Required</small>
      </div>

      <div [class.margin-bottom-none] = "genderId.touched && genderId.hasError('required')" style="margin-top: 20px;" class="p-field p-col-6">
        <span class="p-input-icon-left">
          <i class="fa fa-gender"></i>
          <p-dropdown formControlName="genderId" [ngClass]="{'ng-invalid': genderId.touched && genderId.hasError('required'), 'ng-dirty' : genderId.touched && genderId.hasError('required')}" [options]="Genders" placeholder="Select a Gender" optionLabel="genderName"></p-dropdown>
        </span>
        <small *ngIf="genderId.touched && genderId.hasError('required')" class="p-error">Gender is Required</small>
      </div>

      <div [class.margin-bottom-none] = "phoneNumber.touched && (phoneNumber.hasError('required') || phoneNumber.hasError('pattern'))" style="margin-top: 20px;" class="p-field p-col-6">
        <span class="p-input-icon-left">
          <i class="fa fa-phone"></i>
          <input [ngClass]="{'ng-invalid': phoneNumber.touched && (phoneNumber.hasError('required') || phoneNumber.hasError('pattern')), 'ng-dirty' : phoneNumber.touched && (phoneNumber.hasError('required') || phoneNumber.hasError('pattern'))}" type="text" formControlName="phoneNumber" pInputText placeholder="Phone Number">
        </span>
        <small *ngIf="phoneNumber.touched && phoneNumber.hasError('required')" class="p-error">Phone Number Required</small>
        <small *ngIf="phoneNumber.touched && phoneNumber.hasError('pattern') && !phoneNumber.hasError('required')" class="p-error">Please Enter a Valid Phone Number</small>
      </div>

      <div style="text-align: center; margin-top: 2%;" class="p-field p-col-12">
        <p-button (click)="register()" [disabled]="!registerForm.valid || toggle" type="button" label="{{toggle ? 'Loadding...':'Signup'}}" icon="pi pi-check"></p-button>
      </div>
      <div class="signup p-field p-col-12">Already have account?
        <a routerLink="/account/login">Login Now</a>
      </div>

    </form>
  </div>
</div>