  .bg-img {
    background-position: center;
    background: url("../../../../assets/images/SignupBackground.jpg") 50% 50% no-repeat fixed;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    height: 84vh;
    background-size: cover;
  }

  .container{
    height: 80%;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .p-formgrid.p-grid{
    padding: 3%;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  }

  .margin-bottom-none{
    margin-bottom: 0 !important;
  }

  i {
    font-size: 17px;
    color: #242323 !important;
  }

  .login-header {
    color: white;
    font-size: 33px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }

  .signup {
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  .signup a {
    color: #3498db;
    text-decoration: none;
  }
  .signup a:hover {
    text-decoration: underline;
  }
