.container{
    margin-top: 3vh;
    margin-bottom: 3vh;
    min-height: 80vh;
}

.userInfoLable{
    font-weight: 500;
    width: 70px;
}

.p-float-label{
    margin-top: 2vh;
}

td{
    word-break:break-all !important;
    white-space: normal !important;
  }

