<div class="bg-img">
    <div class="rowContainer">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card" style="width: 25rem; height: 70vh;">
                    <img src="../../../../assets/images/Doctor.jpg" class="card-img-top" alt="Doctor">
                    <div class="card-body">
                        <h5 class="card-title">Doctor</h5>
                        <p class="card-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries.
                        </p>
                        <a routerLink="/account/register" [queryParams]="{role: '2'}" class="btn btn-primary">Signup</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card" style="width: 25rem; height: 70vh;">
                    <img src="../../../../assets/images/Patient.jpeg" class="card-img-top" alt="Patient">
                    <div class="card-body">
                        <h5 class="card-title">Patient</h5>
                        <p class="card-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries.
                        </p>
                        <a routerLink="/account/register" [queryParams]="{role: '3'}" class="btn btn-primary">Signup</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card" style="width: 25rem; height: 70vh;">
                    <img src="../../../../assets/images/clinicCenter.jpg" class="card-img-top" alt="Clinic Center">
                    <div class="card-body">
                        <h5 class="card-title">Clinic Center</h5>
                        <p class="card-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries.
                        </p>
                        <a routerLink="/account/register" [queryParams]="{role: '4'}" class="btn btn-primary">Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>