<div class="bg-img">
    <div class="content">
      <h2 class="login-header">Forget Password</h2>
      <form [formGroup]="forgetPasswordForm">
        <div class="field">
          <span class="fa fa-envelope"></span>
          <input formControlName="email" type="text" placeholder="Email">
        </div>
        <p style="color: red;" *ngIf="email.touched && email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </p>
        <p style="color: red;" *ngIf="email.touched && email.hasError('required')">
          Email is <strong>required</strong>
        </p>
        <div class="field login-btn">
          <button (click)="sendCode()" [disabled]="!forgetPasswordForm.valid || toggle" type="button">{{toggle ? 'Loadding...':'Send Code'}}</button>
        </div>
      </form>
    </div>
  </div>
  