<div class="bg-img">
    <div class="content">
      <h2 class="login-header">Change Password</h2>
      <form [formGroup]="changePasswordForm">

        <div class="field space">
            <span class="fa fa-lock"></span>
            <input formControlName="oldPassword" type="password" class="pass-key" placeholder="Old Password">
          </div>
          <p style="color: red;" *ngIf="oldPassword.touched && oldPassword.hasError('required') && !oldPassword.hasError('minlength')">
            Old Password <strong>required</strong>
          </p>
          <p style="color: red;" *ngIf="oldPassword.touched && oldPassword.hasError('minlength')">
            Old password must be at least <strong>5 charcters</strong>
          </p>

        <div class="field space">
          <span class="fa fa-lock"></span>
          <input formControlName="newPassword" type="password" class="pass-key" placeholder="New Password">
        </div>
        <p style="color: red;" *ngIf="newPassword.touched && newPassword.hasError('required') && !newPassword.hasError('minlength')">
            New Password <strong>required</strong>
        </p>
        <p style="color: red;" *ngIf="newPassword.touched && newPassword.hasError('minlength')">
            New Password must be at least <strong>5 charcters</strong>
        </p>

        <div class="field space">
            <span class="fa fa-lock"></span>
            <input formControlName="confirmPassword" type="password" class="pass-key" placeholder="Confirm Password">
          </div>
          <p style="color: red;" *ngIf="confirmPassword.touched && confirmPassword.hasError('required') && !confirmPassword.hasError('minlength')">
            Confirm Password <strong>required</strong>
          </p>
          <p style="color: red;" *ngIf="confirmPassword.touched && confirmPassword.hasError('minlength')">
            Confirm Password must be at least <strong>5 charcters</strong>
          </p>
          <p style="color: red;" *ngIf="changePasswordForm.hasError('mismatch') && confirmPassword.touched && !confirmPassword.hasError('required')">
            passwords doesn't match 
          </p>

        <div class="field login-btn">
          <button (click)="changePassword()" [disabled]="!changePasswordForm.valid || toggle" type="button">{{toggle ? 'Loadding...':'Change Password'}}</button>
        </div>

      </form>
    </div>
  </div>
  