<!-- <div class="bg-img">
    <div class="content">
      <h2 class="login-header">Change Password</h2>
      <form [formGroup]="changePasswordForm">

        <div class="field space">
            <span class="fa fa-lock"></span>
            <input formControlName="oldPassword" type="password" class="pass-key" placeholder="Old Password">
          </div>
          <p style="color: red;" *ngIf="oldPassword.touched && oldPassword.hasError('required') && !oldPassword.hasError('minlength')">
            Old Password <strong>required</strong>
          </p>
          <p style="color: red;" *ngIf="oldPassword.touched && oldPassword.hasError('minlength')">
            Old password must be at least <strong>5 charcters</strong>
          </p>

        <div class="field space">
          <span class="fa fa-lock"></span>
          <input formControlName="newPassword" type="password" class="pass-key" placeholder="New Password">
        </div>
        <p style="color: red;" *ngIf="newPassword.touched && newPassword.hasError('required') && !newPassword.hasError('minlength')">
            New Password <strong>required</strong>
        </p>
        <p style="color: red;" *ngIf="newPassword.touched && newPassword.hasError('minlength')">
            New Password must be at least <strong>5 charcters</strong>
        </p>

        <div class="field space">
            <span class="fa fa-lock"></span>
            <input formControlName="confirmPassword" type="password" class="pass-key" placeholder="Confirm Password">
          </div>
          <p style="color: red;" *ngIf="confirmPassword.touched && confirmPassword.hasError('required') && !confirmPassword.hasError('minlength')">
            Confirm Password <strong>required</strong>
          </p>
          <p style="color: red;" *ngIf="confirmPassword.touched && confirmPassword.hasError('minlength')">
            Confirm Password must be at least <strong>5 charcters</strong>
          </p>
          <p style="color: red;" *ngIf="changePasswordForm.hasError('mismatch') && confirmPassword.touched && !confirmPassword.hasError('required')">
            passwords doesn't match 
          </p>

        <div class="field login-btn">
          <button (click)="changePassword()" [disabled]="!changePasswordForm.valid || toggle" type="button">{{toggle ? 'Loadding...':'Change Password'}}</button>
        </div>

      </form>
    </div>
  </div>
   -->

   <div class="bg-img">
    <div class="container">
  
      <form [formGroup]="changePasswordForm" class="p-fluid p-formgrid p-grid">
  
        <div style="text-align: center; margin-bottom: 2%;" class="p-field p-col-12">
          <h2 class="login-header">Change Password</h2>
        </div>

        <div [class.margin-bottom-none] = "oldPassword.touched && (oldPassword.hasError('required') || oldPassword.hasError('minlength'))" style="margin-top: 20px;" class="p-field p-col-12">
          <span class="p-input-icon-left">
            <i class="fa fa-lock"></i>
            <input [ngClass]="{'ng-invalid': oldPassword.touched && (oldPassword.hasError('required') || oldPassword.hasError('minlength')), 'ng-dirty' : oldPassword.touched && (oldPassword.hasError('required') || oldPassword.hasError('minlength'))}" type="password" formControlName="oldPassword" pInputText placeholder="Old Password">
          </span>
          <small *ngIf="oldPassword.touched && oldPassword.hasError('required') && !oldPassword.hasError('minlength')" class="p-error">Old Password is Required</small>
          <small *ngIf="oldPassword.touched && oldPassword.hasError('minlength')" class="p-error">Old Password Must Be At Least 5 Charcters</small>
        </div>
  
        <div [class.margin-bottom-none] = "newPassword.touched && (newPassword.hasError('required') || newPassword.hasError('minlength'))" style="margin-top: 20px;" class="p-field p-col-12">
          <span class="p-input-icon-left">
            <i class="fa fa-lock"></i>
            <input [ngClass]="{'ng-invalid': newPassword.touched && (newPassword.hasError('required') || newPassword.hasError('minlength')), 'ng-dirty' : newPassword.touched && (newPassword.hasError('required') || newPassword.hasError('minlength'))}" type="password" formControlName="newPassword" pInputText placeholder="New Password">
          </span>
          <small *ngIf="newPassword.touched && newPassword.hasError('required') && !newPassword.hasError('minlength')" class="p-error">New Password is Required</small>
          <small *ngIf="newPassword.touched && newPassword.hasError('minlength')" class="p-error">New Password Must Be At Least 5 Charcters</small>
        </div>
  
        <div [class.margin-bottom-none] = "confirmPassword.touched && (confirmPassword.hasError('required') || confirmPassword.hasError('minlength') || changePasswordForm.hasError('mismatch'))" style="margin-top: 20px;" class="p-field p-col-12">
          <span class="p-input-icon-left">
            <i class="fa fa-lock"></i>
            <input [ngClass]="{'ng-invalid': confirmPassword.touched && (confirmPassword.hasError('required') || confirmPassword.hasError('minlength') || changePasswordForm.hasError('mismatch')), 'ng-dirty' : confirmPassword.touched && (confirmPassword.hasError('required') || confirmPassword.hasError('minlength') || changePasswordForm.hasError('mismatch'))}" type="password" formControlName="confirmPassword" pInputText placeholder="Confirm Password">
          </span>
          <small *ngIf="confirmPassword.touched && confirmPassword.hasError('required') && !confirmPassword.hasError('minlength')" class="p-error">Confirm Password Required</small>
          <small *ngIf="confirmPassword.touched && changePasswordForm.hasError('mismatch') && !confirmPassword.hasError('required')" class="p-error">Passwords Doesn't Match </small>
        </div>
  
        <div style="text-align: center; margin-top: 2%;" class="p-field p-col-12">
          <p-button (click)="changePassword()" [disabled]="!changePasswordForm.valid || toggle" type="button" label="{{toggle ? 'Loadding...':'Change Password'}}" icon="pi pi-check"></p-button>
        </div>
  
      </form>
    </div>
  </div>